body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #c3acf8;
}

header {
    background: #580688;
    color: rgb(208, 162, 252);
    text-align: center;
    padding: 15px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

section {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input, select, button {
    padding: 8px;
    font-size: 14px;
}

button {
    cursor: pointer;
    border: none;
    background: #ce9af8;
    color: white;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.ingreso {
    color: green;
    font-weight: bold;
}

.gasto {
    color: red;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
    form {
        flex-direction: column;
    }
}